%h1 Log In

- form_for(:session, :url => session_path) do |form|
  #register_form
    .text_field
      = form.label :email
      = form.text_field :email
    .password_field
      = form.label :password
      = form.password_field :password
    %button.btn_lg Log In  
    /.submit_field
    /= form.submit "Sign in"