.listing {
  float: left;
  padding-bottom: 30px; }
  .listing .photos {
    float: left;
    width: 562px; }
    .listing .photos img {
      border: 1px solid #333333;
      margin-bottom: 25px; }
  .listing .listing_details {
    margin-left: 35px;
    float: left; }

.listing_back {
  background-color: #e1f3fd;
  color: #2d7bb2;
  font-size: 12px;
  padding: 6px 0 8px 20px;
  margin: 0 0 25px -20px; }
