- content_for :head do
  = javascript_include_tag 'jquery', 'jquery.hint.js'
  :javascript
    $(function() {
      $('input').hint();
    });
    
.home
  Market
  = render 'shared/search'
  = link_to t(:filter), '#'